body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff;
    color: #004d66;
    margin: 0;
    padding: 0;
    text-align: center;
}

.cabecalho {
    background-color: #007bff;
    color: white;
    padding: 30px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.titulo {
    font-size: 2.5em;
    margin: 0;
}

body > p {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 1.2em;
    padding: 0 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 350px;
    margin: 0 auto;
}

.menu li {
    background-color: #ffffff;
    border: 2px solid #007bff;
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.menu li:hover {
    background-color: #d6eaff;
}

.menu a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    display: block;
    font-size: 1.1em;
}

.menu a:hover {
    color: #0056b3;
}


@media (min-width: 768px) {
    .menu ul {
        flex-direction: row;
        max-width: 800px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .menu li {
        width: 200px; 
    }
}