body {
    background-color: rgb(236, 142, 158);
    line-height: 1.8em;
}

.cabecalho {
    background-color: purple;
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

.titulo {
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: double;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 25px;
    text-align: center;
}

.imgcentro {
    align-items: center-;

}

nav {}

li {
    display: inline-block;


}

li a {
    font-size: 25px;

}

button {
    font-size: 16px;
    color: rgb(255, 0, 132);

}

img{
    height: 500px;
    width: 500px;
}